[Desktop Entry]
Encoding=UTF-8
Name=Calmcoin
Comment=Calmcoin P2P Cryptocurrency
Comment[fr]=Calmcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Calmcoin, eşten eşe kriptografik sanal para birimi
Comment[es]=Calmcoin, una criptomoneda P2P
Exec=/usr/bin/calm-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/calm;
Categories=Office;
